@charset "utf-8";
@import "../../node_modules/bulma/bulma";



.turbolinks-progress-bar {
    height: 1px;
    background-color: red;
}


body { 
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  padding-top: 52px;
  background: #F0F0F0;
}