<% wrap_layout :layout do %>
  <div class="columns is-centered">
    <div class="column is-8">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Home</span></a></li>
          <li><a href="/"><span class="icon is-small"><i class="fa fa-book"></i></span><span>Articles</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

  <section class="articles">
      <div class="columns is-multiline is-centered">
          <div class="column is-8">

            <div class="card article">
              <div class="card-content">
                <div class="media">
                  
                  <div class="media-content has-text-left">
                    <h4><span class="title is-4"><%= current_article.title %></span></h4>
                    <h5><span class="subtitle is-6"><%= current_article.date.strftime("%F %H:%M ") %></span></h5>

                  </div>
                </div>


              <div class="content article-body">
                  <%= current_article.body %>
                </div>
              </div>
            </div>

          </div>
      </div>
  </section>

  <div class="columns is-centered">
    <div class="column is-8">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Home</span></a></li>
          <li><a href="/"><span class="icon is-small"><i class="fa fa-book"></i></span><span>Articles</span></a></li>
        </ul>
      </nav>
    </div>
  </div>

<% end %>