<% wrap_layout :layout do %>
  <section class="post">
      <header class="post-header">
          <img width="48" height="48" alt="Eric Ferraiuolo&#x27;s avatar" class="post-avatar" src="images/reid-avatar.png">

          <h2 class="post-title"><%= current_article.title %></h2>

          <p class="post-meta">
              By <a class="post-author" href="#">admin</a>
              On <%= current_article.date.strftime("%F") %>
              <!-- Under <a class="post-category post-category-js" href="#"></a> -->
          </p>
      </header>
      <%= current_article.body %>
  </section>
<% end %>