<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/about.html" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="http://github.com/yahoo/pure/" class="pure-menu-link">Pure</a></li>
        </ul>
    </div>
</div>