<nav class="navbar is-light is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
          <b>天问</b>
      </a>

    </div>


    <div class="navbar-menu">
        <div class="navbar-start">

          <a href="/" class="navbar-item <%= active_class('/') %>">
              主页
          </a>
          <a href="/about.html" class="navbar-item <%= active_class('/about.html') %>">
              关于
          </a>
            
        </div>

        <div class="navbar-end">
        </div>

    </div>

</nav>