 <nav class="navbar is-light has-shadow is-hidden-desktop is-fixed-bottom">
  <div class="tabs is-centered">
    <ul>
      <li class="<%= active_class('/') %>">
          <a href="/">主页</a>
      </li>

      <li class="<%= active_class('/about.html') %>">
          <a href="/about.html">关于</a>
      </li>

      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
</nav>